.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 100px;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
.card-img {
  border-bottom-right-radius: 66px;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: black;
  background-color: rgb(33 50 75 / 46%) !important;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.card-text {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-btn {
  margin-top: auto;
}
.booking-card-title {
  color: #212529;
}
